<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pokemon: Gotta Catch 'em All!</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1>All Pokemon</h1>
    <table><thead>
            <tr>
                <td>Sprite</td>
                <td>Name</td>
                <td>Pokedex #</td>
        </thead>
        <tbody>

            <% for(let i = 0; i < data.length; i++){ %>
                <tr>
                    <td> <a href="/pokemon/<%= data[i].pokedex_id %>"><img src='<%= data[i].image_url %>'></td>
                        <td> <%= data[i].name %> </td>
                        <td> <%= data[i].pokedex_id %> </td>
                    </tr>
                <% } %>

            </tbody>

        </table>

        <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>
    </body>
</html>
